.top{
    width:100%;
    height: 60px;
    position: relative;
}
.user-img{
    width: 60px;
    height: 60px;
    background-position: center;
    background-size: cover;
    border-radius: 30%;
    margin-left: 5%;
    float: left;
}
.user-name{
    height: 60px;
    width:300px;
}
.user-link{
    display: inline-block;
    font-size: 1.3em;
    margin-top: 30px;
    margin-left: 1%;
    color:black;
    text-decoration: none;
}

.camera-setting{
    float: right;
    margin-right: 5%;
}

.image-contain{
    width:100%;
    height: 90vh;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    animation-duration: 2s;
    animation-name: show_image;
}

.line{
    animation-duration: 2s;
    animation-name: line;
    width: 90%;
}

.content{
    width:100%;
    height: auto;
}
.content .text{
    width: 100%;
    height: auto;
    font-size: 1.2em;
    font-style: italic;
    font-family: 'Noto Sans KR',sans-serif;
    font-weight: 300;
    text-align: center;
    display: inline-block;
    margin-top: 19px;   
}

.content .date{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 0.8em;
    text-align: center;
}

.under-bar{
    width:100%;
    height: 6vh;
    margin-top: 10px;
    display: inline-block;
}

.share-button{
    width:80%;
    height: 6vh;
    float: left;
}
.close-button{
    width: 20%;
    height: 6vh;
    float: right;
}





@keyframes line{
    from{
        width:0%;
    }

    to{
        width:90%;
    }
}
@keyframes show_image{
    from{
        height: 0;
        margin-top:500px;
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    to{
        height: 90vh;
        margin-top: 0px;
        opacity: 1;
    }
}