<div class="top">
  <div class="user-img"
      [style.backgroundImage]="'url('+ photo.user.image_thumbnail +')'"></div>
  <div class="user-name">
    <a href="/photo/user/{{photo.user.nickname}}" class="user-link">{{photo.user.nickname}}</a>
  </div>
</div>
<hr class="line">
<div class="image-contain"
      [style.backgroundImage]="'url('+ photo.photo_show +')'">
</div>


<div class="content">
  <div class="text">"{{photo.content}}"</div>
  <div class="date">{{photo.upload_time}}</div>
</div>
<div class="camera-setting">
  <mat-icon>iso</mat-icon>{{photo.iso}}&nbsp;&nbsp;&nbsp;&nbsp;
  <mat-icon>broken_image</mat-icon>{{photo.shutter_speed}}&nbsp;&nbsp;&nbsp;&nbsp;
  <mat-icon>camera</mat-icon>{{photo.aperture}}
</div>

<div class="under-bar">

  <button class="share-button" mat-raised-button (click)="openShareSheet(photo.index)">
    <mat-icon>share</mat-icon>
  </button>
  <button class="close-button" mat-raised-button (click)="closeWin()">
    <mat-icon>backspace</mat-icon>
  </button>
<div>
