<button mat-button (click)=Share_Facebook()>
    <mat-icon svgIcon="facebook"></mat-icon>
</button>
<button mat-button (click)=Share_Twitter()>
    <mat-icon svgIcon="twitter"></mat-icon>
</button>
<button mat-button (click)=Share_Google()>
    <mat-icon svgIcon="google_plus"></mat-icon>
</button>
<button mat-button (click)=Share_URL()>
    <mat-icon>insert_link</mat-icon>
</button>