<div class="photo_contain">
  <ngx-masonry [useImagesLoaded]="true" class="photo_items">
    <ngxMasonryItem class="photo_item" *ngFor="let item of items">
      <img class="photo_thumbnail" src={{item.photo_thumbnail}}>

      <div class="overlay">

        <div class="over-user">
          <div class="user-photo"
                [style.backgroundImage]="'url('+ item.user.image_thumbnail +')'"></div>
          <div class="user-name">{{item.user.nickname}}</div>
        </div>
        <div class="over-buttons">
          <button mat-button class="over-button" (click)="openNewTab(item)"><mat-icon class="thum-icon">launch</mat-icon></button>
          <button mat-button class="over-button" (click)="openMore(item)"><mat-icon class="thum-icon">fullscreen</mat-icon></button>
        </div>
      </div>
      <div class="overlay-mobile" (click)="openNewTab(item)"> </div>
    </ngxMasonryItem>
  </ngx-masonry>
</div>