.photo_contain {
    text-align: center;
    max-width: 80%;
    margin: 0 auto;
}

.photo_items{
    display: block;
    margin: 0 auto;
    width:1110px;
}

.photo_item{
    margin-bottom: 20px;
    background-color: #ffffff;
    background-size: cover;
    width: 340px;
    margin: 10px 10px;
}

.photo_thumbnail{
    width: 100%;
    height: 100%;
    min-height: 100px;
    z-index: 0;
}




.overlay {
    position: absolute;
    opacity: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    transition: .2s ease;
    background-color: rgba($color: #000000, $alpha: 0);
    z-index: 2;
}
.overlay:hover {
    opacity: .9;
    transition: .2s ease;
    background-color: rgba($color: #333333, $alpha: 0.7);;
}
.overlay-mobile{
    display: none;
    position: absolute;
    opacity: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
}
.over-user{
    width: 100%;
    height: 80%;
}
.user-photo{
    width: 100px;
    padding-bottom: 100px;
    margin: 5% auto;
    background-size: 100%;
    background-position: center;
    border-radius: 50%;
    opacity: 1;
}
.user-name{
    color:white;
    font-size: 1.6em;
}

.over-buttons{
    width:100%;
    height: 20%;
    bottom:0;
    position: inherit;
}
.over-button{
    width:48%;
    height: 100%;
    opacity: 1;
}
.thum-icon{
    color:white;
    opacity: 1;
}








@media (max-width: 600px) {
    .photo_contain{
        max-width: 90%;
    }    
    .photo_items{
        width:320px;
    }
    .photo_item{
        margin-bottom: 5px;
        background-color: #ffffff;
        background-size: cover;
        width: 150px;
        margin: 5px 5px;
    }
    
    .photo_thumbnail{
        width: 100%;
        height: 100%;
        min-height: 50px;
        z-index: 0;
    }

    .overlay{
        display: none;
    }
    .overlay-mobile{
        display: inline;
    }

    
}