<h1 mat-dialog-title></h1>
<div class="popup-content" mat-dialog-content>
    <div class="user-info">
        <div class="user-img"></div>
        <div class="user-name"></div>
    </div>
    <img class="main-img" src="{{data.photo_show}}">
    <div class="main-img-mobile"
    [style.backgroundImage]="'url('+ data.photo_show +')'"></div>
    <div class="content-text">"{{data.content}}"</div>
    <div class="camera-setting">
        <mat-icon>iso</mat-icon>{{data.iso}}&nbsp;&nbsp;&nbsp;&nbsp;
        <mat-icon>broken_image</mat-icon>{{data.shutter_speed}}&nbsp;&nbsp;&nbsp;&nbsp;
        <mat-icon>camera</mat-icon>{{data.aperture}}
    </div>
  
</div>
<div mat-dialog-actions>
  <button mat-button (click)="popup_close()"><mat-icon>expand_more</mat-icon></button>
</div>