.main-img{
    height: 100%;
    max-height: 80vh;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
}
.main-img-mobile{
    display: none;
    background-repeat: no-repeat;
}
.popup-content{
    height: 100%;
    max-height: 85vh;
}

.content-text{
    font-size: 1.2em;
    font-style: italic;
    font-family: 'Noto Sans KR',sans-serif;
    font-weight: 300;
    text-align: center;

    margin-top: 19px;
}

.camera-setting{
    float: right;
}




::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/*optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

@media (max-width: 600px) {
    .main-img{
        display: none;
    }
    .main-img-mobile{
        width:100%;
        height: 80%;
        background-position: center;
        background-size: contain;
        display: block;
    }
}