.about{
    margin-top:5vh;
    width: 100%;
    height: auto;
}
.about-image{
    width: 100%;
    animation-duration: 1s;
    animation-name: show;
}

@keyframes show{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}