
.drag-scroll {
    height: auto;
    width: 100%;
    padding: 0;
    margin: 0;
} 

.slider-content{
    width:100%;
    height:80vh;
    animation-duration: 2s;
    animation-name: show;
}

.slider-image{
    width:100%;
    height:80vh;

    background-size: cover;
    background-position: center;

    padding: 0;
    margin: 0;
}


.drag-scroll-content{
    overflow: hidden;
}

.slider-move{
    width:100%;
    background-color:transparent;
}

.slide-move{
    background-color:transparent;
    flex: 1 1 auto;
    color:black;
}

@media (max-width: 600px) {
    .slider-image{
        width:100%;
        height:70vh;
    }
}


@keyframes show{
    from{
        height:0;
        opacity: 0;
    }
    to{
        height:80vh;
        opacity: 1;
    }
}
