
<drag-scroll 
class="drag-scroll" 
[scrollbar-hidden]=false
#image_scroll
>
  <div class="slider-content" *ngFor="let slide of slider_Images" drag-scroll-item>
    <div 
    class="slider-image"
    [style.backgroundImage]="'url('+slide.image+')'">
    </div>
    
  </div>  
</drag-scroll>

<mat-toolbar class="slider-move">
  <mat-toolbar-row>
    <button mat-button class="slide-move" (click)=moveLeft()><mat-icon >keyboard_arrow_left</mat-icon></button>
    <button mat-button class="slide-move" (click)=moveRight()><mat-icon >keyboard_arrow_right</mat-icon></button>
  </mat-toolbar-row>
</mat-toolbar>