<photos-grid [items]=photos
            infinite-scroll
            [infiniteScrollDistance]="2"
            [infiniteScrollThrottle]="50"
            (scrolled)="ScrollDown()">       
</photos-grid>      

<mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>