.pc{
    display: initial;
}
.mobile{
    display: none;
}
.nav-router{
    background-color:rgba(255,255,255,.8);
    position: fixed;
    z-index: 9;
}

.nav-router-logo{
    color:black;
    margin-left: auto;
    margin-right: auto;

    width: 400px;
    height: 36px;
}

.nav-router-button{
    font-weight: 200;
    color:black;
    flex: 1 1 auto;
}

.top-blank{
    width:100%;
    height: 70px;
}

@media (max-width: 600px) {
    .pc{
        display: none;
    }
    .mobile{
        display: initial;
    }
    .m-logo{
        font-size: 20px;
        display: inline-block;
        width: 50px;
        height: 50px;
    }

}