<mat-toolbar class="nav-router">
  <mat-toolbar-row>
    <mat-icon class="nav-router-logo" svgIcon="aecom"></mat-icon>
  </mat-toolbar-row>
  <mat-toolbar-row>
      <span class="spacer"></span>
      <button mat-button class="nav-router-button" routerLink="/home" routerLinkActive="active">Home</button>
      <button mat-button class="nav-router-button" routerLink="/about" routerLinkActive="active">About</button>
      <button mat-button class="nav-router-button" routerLink="/photo/all" routerLinkActive="active">Photo</button>
      <button mat-button class="nav-router-button" routerLink="/members" routerLinkActive="active">Members</button>
  </mat-toolbar-row>
</mat-toolbar>
<div class="top-blank"></div>