<mat-toolbar class="nav-router">
  <mat-toolbar-row>
      <button mat-button class="nav-router-button pc" routerLink="/home" routerLinkActive="active">Home</button>
      <button mat-button class="nav-router-button mobile" routerLink="/home" routerLinkActive="active"><mat-icon class="nav-router-logo mobile m-logo" svgIcon="aecom_small"></mat-icon></button>
      <button mat-button class="nav-router-button" routerLink="/about" routerLinkActive="active">About</button>
      <mat-icon class="nav-router-logo pc" svgIcon="aecom"></mat-icon>
      <button mat-button class="nav-router-button" routerLink="/photo/all" routerLinkActive="active">Photo</button>
      <button mat-button class="nav-router-button" routerLink="/members" routerLinkActive="active">Members</button>
  </mat-toolbar-row>
</mat-toolbar>
<div class="top-blank"></div>