/* You can add global styles to this file, and also import other style files */

html, body { 
    height: 100%; 
    // overflow: scroll;
    // overflow-x: hidden;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


    
// ::-webkit-scrollbar {
//     width: 0px;  /* remove scrollbar space */
//     background: transparent;  /* optional: just make scrollbar invisible */
// }
/* optional: show position indicator in red */
// ::-webkit-scrollbar-thumb {
//     background: #FF0000;
// }




// 첫 로딩 스피너
  
  #main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .spinner {
    position: relative;
  }
  .spinner:before, .spinner:after {
    content: "";
    position: relative;
    display: block;
  }
  .spinner:before {
    animation: spinner 2.5s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
    width: 1em;
    height: 1em;
    background-color: #33cc05;
  }
  .spinner:after {
    animation: shadow 2.5s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
    bottom: -.5em;
    height: .25em;
    border-radius: 50%;
    background-color: rgba(#000,0.2);
  }
  
  @keyframes spinner {
    50% {
      border-radius: 50%;
      transform: scale(0.5) rotate(360deg);
    }
    100% {
      transform: scale(1) rotate(720deg);
    }
  }
  @keyframes shadow {
    50% {
      transform: scale(0.5);
      background-color: rgba(#000,0.1);
    }
  }