
  <!-- <h3 class="title">팀원소개</h3>
  <div class="users_info card-columns">
    
    <div class="user_list">
      <figure class="snip1218" *ngFor="let user of users">
        <div class="image"><img src="{{user.image_thumbnail}}"/>
          <p>
            {{user.me}}
          </p>
        </div>
        <figcaption>
          <h3><span>{{user.nickname}}</span></h3>
          <h5><p>&nbsp;</p></h5>
          <div class="icons">
            <a href="https://www.facebook.com/{{user.facebook}}" *ngIf="user.facebook!='none'"><i class="ion-social-facebook-outline"></i></a>
            <a href="https://www.instargram.com/{{user.instargram}}" *ngIf="user.instargram!='none'"><i class="ion-social-instagram-outline"></i></a>
            <a href="https://www.youtube.com/channel/{{user.youtube}}"><i class="ion-social-youtube-outline" *ngIf="user.youtube!='none'"></i></a>
          </div>
        </figcaption>
      </figure>
    </div>
    </div>
  </div> -->

<mat-card class="profile-card profile-image" *ngFor="let user of users">
  <mat-card-header>
    <mat-card-title>{{user.nickname}}</mat-card-title>
    <mat-card-subtitle>{{user.me}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <img mat-card-image class="profile-image" src="{{user.image_thumbnail}}">
    {{user.me}}
  </mat-card-content>
</mat-card>
