<div class="container">
  <div id="blank-space"></div>


  <!--<div class="team_main">
    <div class="team_logo"></div>
    <div class="team_facebook">
        <a href="https://www.facebook.com/projectsago/"><i class="ion-social-facebook-outline"></i></a>
        <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fprojectsago%2F&width=450&layout=standard&action=like&size=small&show_faces=false&share=true&height=35&appId" width="450" height="35" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
    </div>
  </div>-->



  <h3 class="title">팀원소개</h3>
  <div class="users_info card-columns">
    
    <div class="user_list">
      <figure class="snip1218" *ngFor="let user of users">
        <div class="image"><img src="{{user.image_thumbnail}}"/>
          <p>
            {{user.me}}
          </p>
        </div>
        <figcaption>
          <h3><span>
            <a routerLink="/photo/user/{{user.nickname}}" routerLinkActive="active">{{user.nickname}}</a>
          </span></h3>
          <h5><p>&nbsp;</p></h5>
          <div class="icons">
            <a href="https://www.facebook.com/{{user.facebook}}" *ngIf="user.facebook!='none'"><i class="ion-social-facebook-outline"></i></a>
            <a href="https://www.instargram.com/{{user.instargram}}" *ngIf="user.instargram!='none'"><i class="ion-social-instagram-outline"></i></a>
            <a href="https://www.youtube.com/channel/{{user.youtube}}"><i class="ion-social-youtube-outline" *ngIf="user.youtube!='none'"></i></a>
          </div>
        </figcaption>
      </figure>
    </div>
    </div>



    

  
    <footer>
      <div class="footer_image"></div>
      <p class="copyright">Copyright Project SAGO 2018 All Right Reserved.</p>
    </footer>
</div>