#blank-space{
    height: 100px;
    width: 100%;
}
a{
  color:black;
  text-decoration: none;
  font-size: 1.6em;
}

.container{
  width: 100vw;
  height:auto;
  display: inline;
}







.team_main{
  width:82%;
  height:auto;
  margin-left: auto;
  margin-right: auto;
}
.team_logo{
  width:100%;
  height:400px;
  background-image: url("https://s3.ap-northeast-2.amazonaws.com/myuksal-saso/static/img/LOGO.png");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}
.team_facebook{
  display: flex;
}
.team_facebook i{
  margin-right: 5px;
  display: inline-block;
  font-size: 24px;
  color: #000000;
  width: 20px;
  height: 25px;
  line-height: 25px;
}











.users_info{
  width: 60%;
  height: auto;
  display: inline;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
}

.user_list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.title{
  text-align: center;
  background-color: #333;
  color:whitesmoke;
  padding: 4px 10px;
  width:200px;
  margin-left: auto;
  margin-right: auto;
  margin-top:50px;
  margin-bottom: 50px;
}



.users_info li{
  list-style: none;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}



figure.snip1218 {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 220px;
  max-width: 310px;
  width: 100%;
  background: #34495e;
  color: #333;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  font-size: 16px;
  /* margin-left: auto; */
  /* margin-right: auto; */
}
figure.snip1218 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
figure.snip1218 img {
  max-width: 100%;
  vertical-align: top;
}
figure.snip1218 .image {
  position: relative;
  border-bottom: 4px solid #34495e;
  z-index: 1;
}
figure.snip1218 .image:before {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 20px 0 20px;
  border-color: #34495e transparent transparent transparent;
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, -15px);
  transform: translate(-50%, -15px);
  z-index: -1;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
figure.snip1218 .image p {
  font-weight: 500;
  margin: 0;
  padding: 0 30px;
  line-height: 1.6em;
  position: absolute;
  top: 50%;
  width: 100%;
  color: #ffffff;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  opacity: 0;
  font-style: italic;
}
figure.snip1218 figcaption {
  background-color: #ffffff;
  padding: 25px;
}
figure.snip1218 h3 {
  margin: 0 0 5px;
  text-transform: uppercase;
  font-weight: 400;
}
figure.snip1218 h3 span {
  font-weight: 800;
}
figure.snip1218 h5 {
  margin: 0 0 15px;
  font-weight: 400;
}
figure.snip1218 i {
  margin-right: 5px;
  display: inline-block;
  font-size: 24px;
  color: #000000;
  width: 35px;
  height: 35px;
  line-height: 35px;
  background: white;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  background-color: rgba(0, 0, 0, 0.05);
}
figure.snip1218 i:hover {
  background-color: #34495e;
  color: white !important;
}
figure.snip1218:hover .image:before,
figure.snip1218.hover .image:before {
  border-color: #34495e transparent transparent transparent;
  -webkit-transform: translate(-50%, 0px);
  transform: translate(-50%, 0px);
}
figure.snip1218:hover .image p,
figure.snip1218.hover .image p {
  opacity: 1;
}
figure.snip1218:hover img,
figure.snip1218.hover img {
  opacity: 0.2;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
/* Demo purposes only */
body {
  background-color: #212121;
}







.team_work{
  width:100%;
  height:400px;
  
}

.link-row{
  margin-top:50px;
  width:100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  float: left;
}

.link{
  width: 400px;
  height: 200px;
  display: inline-block;
  text-align: center;
  font-family: 'Raleway', Arial, sans-serif;
  font-weight: 200;
}

.link img{
  width:70px;
  margin-bottom:20px;
}
.link i{
  font-size: 3em;
}
.link a{
  color:black;
  font-size: 1.2em;
  text-decoration: none;
}
.link p{
  font-size: 1.2em;
  color:black;
}

.facebook-page{
  font-size: 2em;
  text-align: center;
}









footer{
  width: 100%;
  height: 300px;
  background-color: #212121;
}
footer .footer_image{
  width:300px;
  height:120px;
  background-image: url('https://s3.ap-northeast-2.amazonaws.com/myuksal-saso/static/img/LOGO_S.png');
  background-position: center;
  background-size: contain;
  margin-right: auto;
  margin-left: auto;
}
footer .copyright{
  font-size: 0.8em;
  font-weight: 200;
  text-align: center;
  color:whitesmoke;
}













.profile-card{
    width: 300px;
    height: 500px;
}
.profile-image{ 
    background-size: cover;
    background-position: center;
}